/.idea/
/.vscode/
**/*.iml
*.iml
/target/
**/target/
/application.yml
/depstree.txt
*.xml.versionsBackup
**/*.xml.versionsBackup
pactconfig-local.properties
/.idea/
/.vscode/
jenkinsfiles
.owaspignore
/test/popp-testsuite/
/test/vsdm-testsuite/src/test/resources/features/parallel
/test/vsdm-testsuite/src/test/resources/features/zeta
/test/vsdm-testsuite/src/test/resources/features/error
/doc/docker/backend/zeta/smcb-private/**
/no-publish/

