/.idea/
/.vscode/
**/*.iml
*.iml
/target/
**/target/
/application.yml
/depstree.txt
*.xml.versionsBackup
**/*.xml.versionsBackup
pactconfig-local.properties

/.idea/
/.vscode/
jenkinsfiles
/doc/k8s
.owaspignore
/test/vsdm-testsuite/src/test/java/de/gematik/ti20/vsdm/test/e2e/poc
/test/vsdm-testsuite/src/test/resources/features/poc
/test/vsdm-testsuite/src/test/resources/features/parallel
/test/vsdm-testsuite/src/test/resources/features/zeta
/test/vsdm-testsuite/src/test/resources/features/bde
/test/vsdm-testsuite/src/test/java/de/gematik/ti20/vsdm/test/e2e/steps/BdeSteps.java

