services:
  vsdm-server:
    image: de.gematik.ti20.simsvc.server/vsdm-server-simservice:local
    ports:
      - "9130:80"
      - "5012:5012"
    environment:
      - LOGGING_LEVEL_ROOT=DEBUG
      - OTEL_SERVICE_NAME=vsdm-server
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5012"
    depends_on:
      - otel-collector

  vsdm-zeta-pep:
    image: europe-west3-docker.pkg.dev/gematik-pt-zeta-prod/zeta-dcr/ngx_pep:0.1.3
    ports:
      - "9120:80"
    volumes:
      - ./zeta/vsdm-zeta-pep.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      vsdm-zeta-pdp:
        condition: service_healthy
      vsdm-server:
        condition: service_started # TODO: change to "service_healthy" when healthcheck is available

  vsdm-zeta-pdp:
    image: europe-west3-docker.pkg.dev/gematik-pt-zeta-prod/zeta-dcr/keycloak-zeta:0.1.3
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
      GENESIS_HASH: "4841c2142fef441daa6ee6c57db65c011935964b14e94a6c8f5ec0447b83526c"
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://vsdm-zeta-pdp-db:5432/keycloak?sslmode=disable"
      KC_DB_USERNAME: "keycloak_db_user"
      KC_DB_PASSWORD: "keycloak_db_user_password"
      KC_DB_SCHEMA: "public"
      KC_HTTP_PORT: 80
      KC_HOSTNAME_STRICT: false
      KC_HEALTH_ENABLED: true
      KC_HTTP_RELATIVE_PATH: /auth
      KC_PROXY_HEADERS: xforwarded
      KC_LOG_LEVEL: DEBUG
    ports:
      - "9122:80"
      - "9123:9000"
    volumes:
      - ./zeta/realm:/opt/keycloak/data/import
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/9000;echo -e \"GET /auth/health/live HTTP/1.1\r\nhost: localhost:9000\r\nConnection: close\r\n\r\n\" >&3;grep \"status.*UP\" <&3" ]
      interval: 5s
      timeout: 5s
      retries: 30
    command: ["start-dev","--import-realm"] # ,"--http-relative-path=/auth","--hostname-strict=false"
    depends_on:
      - vsdm-zeta-pdp-db

  vsdm-zeta-pdp-db:
    image: postgres:16.2
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak_db_user
      POSTGRES_PASSWORD: keycloak_db_user_password

volumes:
  postgres_data:
    driver: local