services:
  popp-server:
    image: de.gematik.ti20.simsvc.server/popp-server-mockservice:local
    ports:
      - "9210:80"
      - "5009:5009"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - OTEL_SERVICE_NAME=popp-zeta-pep
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5009"
    depends_on:
      - otel-collector

  popp-zeta-pep:
    image: de.gematik.ti20.simsvc.server/zeta-pep-server-mockservice:local
    ports:
      - "9110:80"
      - "5007:5007"
    environment:
      - SPRING_PROFILES_ACTIVE=docker-popp
      - PROXY_HTTP_URL=http://popp-server
      - PROXY_WS_URL=http://popp-server
      - WK_ISSUER=http://popp-zeta-pep
      - WK_AUTH_EP=http://popp-zeta-pdp/auth
      - WK_TOKEN_EP=http://popp-zeta-pdp/token
      - WK_NONCE_EP=http://popp-zeta-pdp/nonce
      - OTEL_SERVICE_NAME=popp-zeta-pep
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5007"
    depends_on:
      - otel-collector

  popp-zeta-pdp:
    image: de.gematik.ti20.simsvc.server/zeta-pdp-server-mockservice:local
    ports:
      - "9112:80"
      - "5008:5008"
    environment:
      - SPRING_PROFILES_ACTIVE=docker-popp
      - OTEL_SERVICE_NAME=popp-zeta-pdp
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5008"
    depends_on:
      - otel-collector